.quiz {
  padding-top: 20 px;
}

.signup {
  display: none;
  padding-top: 20 px;
}

.login {
  display: none;
}

button#signup-show, button#login-show {
  margin-top: 20px;
}

button#signup, button#login {
  background-color: black;
  color: white;
}

button#signup:hover, button#login:hover {
  color: #FFC0CB;
}

.answers {
  display: none;
  padding-bottom: 10px;
}

#previous {
  display: none;
  background-color: yellow;
  color: black;
}

#previous:hover {
  background-color: #FFF000;
}

#next {
  display: none;
}

#again {
  display: none;
}

#select {
  color: red;
  font-weight: bold;
  font-style: italic;
}