.answers {
  display: none;
  padding-bottom: 10px;
}

#previous {
  display: none;
  background-color: yellow;
  color: black;
}

#previous:hover {
  background-color: #FFF000;
}

#next {
  display: none;
}

#again {
  display: none;
}

#select {
  color: red;
  font-weight: bold;
  font-style: italic;
}